#main-section {
  min-height: 80vh;
  /* background: transparent linear-gradient(180deg, #f7eeec 0%, #ffffff 100%) 0%
    0% no-repeat padding-box; */
    background-color: #ffffff;
}

.primary-btn {
    border: none;
  outline: none;
  background-color: #ed4343;
  color: white;
  width: auto;
  padding: 10px 20px !important;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

